<h1>Formulário para cadastrar produtos</h1>
<link rel="stylesheet" href="css/estilos.css" />


<form action="/add-produto" method="POST">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Aplicação</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
</head>

<div id ="wrap" >
  
 
  <input type="text" name="nome" / placeholder="Nome">


  <input type="number" name="quantidade" /placeholder="Quantidade">

  <input type="number" name="preco" /placeholder="Preço">


  <input type="text" name="prateleira" /placeholder="Prateleira"> 


  <input type="text" name="descricao" / placeholder="Descrição">

  <input type="text" name="categoria" /placeholder="Categoria">

</div>
 
   <div id="botoes">
         <button class="btn btn success" type="submit">Cadastrar</button>
       
   
</form>
</body>